/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */
/*==================================================================================
  NAV
==================================================================================*/
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;

    //height: $header_height;
    transition: all 1s;

    .nav-link {
        font-weight: 600;
        color: $color-secondary-darker;
    }

    .logo  {
        width: 12rem;
        height: 3rem;
        margin-right: 2rem;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
    }

    .navbar-collapse.show {
        background-color: $color-primary;
        width: 100vw;
        width: 100%;
        position: absolute;
        left: 0;
        top: $header_height;
        padding: 15px;

        a {
            color: #fff;
        }
    }
}

.page:not(.home) {
    .navbar {
        background-color: rgba(#fff, 0.7);

        .logo {
            opacity: 1;
        }
    }
}

.home nav.navbar a.nav-link {
    color: #fff;
}

.navbar.bg-opacity {
    background-color: rgba(#fff, 0.7);

    a.nav-link {
        color: $color-black !important;
    }

    .logo {
        opacity: 1;
    }
}
