/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */

button, .btn {
    border-radius: 20px;

    &:hover, &:active, &:focus {
        //
   
    }

    &:disabled {
        //
   
    }
}

.btn.btn-primary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-secondary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-outline-primary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-outline-secondary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-custom {
    text-transform: uppercase;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px;
    transition-duration: .8s;

    &.yellow {
        color: $color-secondary-darker;
        background-image: url("./assets/images/btn-custom-y.svg");
        padding: 20px 30px;

        &:hover {
            filter: brightness(110%);
        }
    }

    &.blue {
        color: #fff;
        background-image: url("./assets/images/btn-custom.svg");
        height: 89px;
        width: 200px;

        &:hover {
            filter: brightness(150%);
        }
    }
}
