/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */

button, .btn {
    border-radius: 20px;

    &:hover, &:active, &:focus {
        //
   
    }

    &:disabled {
        //
   
    }
}

.btn.btn-primary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-secondary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-outline-primary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-outline-secondary {
    &:hover, &:active, &:focus {
        //
   
    }
}

.btn.btn-custom {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-image: url("./assets/images/btn-custom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 89px;
    width: 200px;
    padding: 20px;

    &:hover {
        filter: brightness(150%);
    }
}
