/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */

input, select, .form-control {
    background-color: rgba(#fff, 0.5);
    border: none;
    border-radius: 20px;

    &:active, &:hover, &:focus {
        //
   
    }
}

input[type="radio"],
input[type="checkbox"] {
    //
}

textarea {
    //
}
