/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */

.footer {
    width: 100vw;
    margin-top: auto;
    background: #E6E6E6;

    &__inner {
        padding: 1.5rem 0;
        font-size: 0.8rem;

        .widget_media_gallery {
            flex: inherit;
        }

        .blocks-gallery-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;

            @include breakpoint(mobile) {
                grid-template-columns: repeat(3, 1fr);
            }


            .blocks-gallery-item {
                width: inherit;

                img {
                    height: inherit;
                    width: 100%;
                    object-fit: contain;
                    max-height: 70px;
                }
            }
        }
    }

    &__credits {
        background-color: $color-grey;
        text-align: center;

        .footer__inner {
            font-weight: 600;

            img {
                display: block;
                margin: 0 auto 30px;
                width: 170px;
            }

            .footer-menu {
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    list-style: none;
                    position: relative;
                    padding: 0;

                    &:first-child:after {
                        content: "|";
                        position: absolute;
                        right: 0;
                        top: 7px;
                    }

                    a {
                        color: $color-black;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
