/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       inside_1.0.0.0
 *
 */

header {
    margin-top: $header_height;
}

.page-header {
    height: 500px;
    display: grid;
    place-items: center;
    margin-bottom: 200px;

    @include breakpoint(mobile) {
        margin-bottom: 30px;
    }


    &_front-page {}

    &_logo {
        width: 500px;
        z-index: 111;

        @include breakpoint(mobile) {
            width: 300px;
        }
    }

    .svg-clip {
        transform: scale(0.001, 0.00183);
    }

    .clip-svg {
        width: 95%;
        height: 565px;
        object-fit: cover;
        clip-path: url(#svgClip);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
        filter: brightness(0.5);

        @include breakpoint(mobile) {
            height: 300px;
        }
    }
}
