.section-testimonials {
    background-color: rgba($color-primary-light, 0.45);
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        padding: 3rem 0 !important;
    }


    &__carousel {
        .carousel-inner {
            position: relative;
            padding: 80px;

            @include breakpoint(mobile) {
                padding: 40px;
            }


            &:before, &:after {
                font-size: 8rem;
                font-family: $text-ff;
                font-weight: bold;
                position: absolute;
                color: $color-secondary;

                @include breakpoint(mobile) {
                    font-size: 6rem;
                    line-height: 1.9;
                }
            }

            &:before {
                content: "“";
                left: 0;
                top: -50px;
            }

            &:after {
                content: "”";
                right: 0;
                bottom: -50px;
            }
        }

        &_item {
            .quote {
                font-style: italic;
                font-size: 1.5rem;
            }

            .author {
                color: $color-secondary;
                font-weight: 600;
            }
        }

        .carousel-indicators {
            bottom: -25px;
            margin-bottom: 0;
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }

    .btn-custom {
        position: absolute;
        bottom: -100px;
        right: 30%;

        @include breakpoint(mobile) {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}
