.section-testimonials {
    background-color: rgba($color-primary-light, 0.45);

    @include breakpoint(mobile) {
        padding: 3rem 0 !important;
    }


    &__carousel {
        @include breakpoint(mobile) {
            min-height: 500px;
        }


        .carousel-inner {
            position: relative;
            padding: 80px;

            &:before {
                content: "“";
                font-size: 8rem;
                font-family: $text-ff;
                font-weight: bold;
                position: absolute;
                left: 0;
                top: -50px;
                color: $color-secondary;
            }

            &:after {
                content: "”";
                font-size: 8rem;
                font-family: $text-ff;
                font-weight: bold;
                position: absolute;
                right: 0;
                bottom: -50px;
                color: $color-secondary;
            }
        }

        &_item {
            p {
                font-style: italic;
                font-size: 1.5rem;
            }
        }

        .carousel-indicators {
            bottom: -25px;
            margin-bottom: 0;
        }

        .carousel-control-prev,
        .carousel-control-next {
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
}
