.section-text-image {
    padding: 0 !important;

    &:nth-child(even) {
        .row {
            flex-direction: row-reverse;
        }
    }

    &__text {
        padding: 0 !important;
        font-size: 1.2rem;

        &__inner {
            padding: 30px 0 30px 200px;
        }
    }

    &__image {
        padding-left: 0 !important;
        padding-right: 0 !important;

        img {
            width: 416px;
            height: 550px;
            clip-path: url("#svgImage");
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
    }
}
